* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(52, 34, 36);
}
.quoteBox {
    border-radius: 5px;
    position: relative;
    margin: 8% auto auto auto;
    padding: 40px 50px;
    width: 450px;
    display: table;
    background-color: white;
}
.quoteText {
    text-align: center;
    font-weight: 500;
    font-size: 1.75em;
    font-family: 'Raleway', sans-serif;
}

.quoteText i {
    font-size: 1.0em;
    margin-right: 0.4em;
}

.quoteAuthor {
    text-align: right;
    padding-top: 20px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

.button {
    height: 38px;
    border: none;
    border-radius: 5px;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    background-color: rgb(52, 34, 36);
    color: white;
    cursor: pointer;
}

.button::hover {
    opacity: 0.9;
}
.buttons {
    display: block;
    margin-top: 30px;
    width: 450px;
}

#newQuote {
    float: right;
}

.SNS {
    padding: 0;
    height: 38px;
    width: 40px;
    font-size: 1.2em;
}
